.orders{
	display:flex;
	justify-content:space-around;
	padding: 0 2.5rem;
	li{
		position:relative;
		width:25%;
		padding: 0 1.875rem;
		a{
			border:0.25rem solid #9b9b9b;
			height:5.875rem;
			width:5.875rem;
			line-height:5.375rem;
			display:block;
			text-align:center;
			border-radius:5.875rem;
			background: white;
			position: relative;
			z-index: 1;
			margin-bottom: 0.9375rem;
			h4{
				font-size:1.25rem;
				font-weight:600;
			}
			
		}
		&:last-child{
			&:after{
				content:none;
			}
		}
		&:after{
			position:absolute;
			content:"";
			background:#9b9b9b;
			height:0.125rem;
			width:100%;
			top:3.125rem;
			left:1.875rem;
		}
		@include respond('tab-land'){
			a{
				height: 4.375rem;
				width: 4.375rem;
				line-height: 3.75rem;
				svg{
					width:40px;
				}
			}
			&:after{
				top:2.25rem;	
			}
			padding:0 0.625rem;
		}	
	}
	.active{
		a{
			background:var(--primary);
			border-color:var(--primary);
			svg{
				path{
					fill:$white;	
				}	
			}
		}
		&:after{
			background:var(--primary);	
		}
	}
	.process{
		a{
			border-color:var(--primary);
		}	
	}
	@include respond('tab-land'){
		padding:0 0;	
	}
	@include respond ('phone'){
		display:block;
		li{
			width:100%;	
			padding:0;
			padding-bottom: 1.5625rem;
			&:after{
				width:0.125rem;
				height:100%;
				left:1.5625rem;
			}
			a{
				border-width:0.125rem;
				float:left;
				height: 3.125rem;
				width: 3.125rem;
				min-width: 3.125rem;
				line-height: 2.8rem;
				margin-right: 0.625rem;
				svg{
					width: 1.875rem;
					height: 1.875rem;
				}
			}
		}
	}
}
.delivery-guy{
	img{
		height:5.3125rem;
		width:5.3125rem;
		border-radius:1.25rem;
		
	}	
	h4{
		font-size:1.25rem;
		
	}
	@include respond('phone'){
			img{
				height:3.125rem;
				width:3.125rem;
			
			}
			h4{
				font-size:0.9375rem;	
			}
		}
}
.delivery-contact{
	display:flex;
	li{
		a{
			height:3.125rem;
			width:3.125rem;
			text-align:center;
			line-height:3.125rem;
			background:var(--primary);
			color:$white;
			display:block;
			border-radius:3.125rem;
			font-size:1.25rem;
			@include respond ('tab-port'){
				height:2.5rem;
				width:2.5rem;
				line-height:2.5rem;
				
			}
			
		}	
	}
}
.media{
	a{
		img{
			height:5.4375rem;
			min-width:5.4375rem;
			border-radius:0.75rem;
		}	
	}
	.media-body{
		small{
			font-size:0.875rem;	
		}
		h5{
			font-size:1.125rem;
			font-weight:700;
		}
	}
}
.card-table{
	tr{
		th{
			padding: 1.3125rem 0.625rem;	
		}	
	}	
}
.star-review{
	i{
		padding:0 0.1875rem;	
	}	
}
.order-media{
	img{
		height:5.6875rem;
		width:5.6875rem;
		border-radius:1.25rem;	
		margin-bottom:0.9375rem;
	}
}
.imfo{
	display:flex;
	i{
		background: var(--secondary);
		height: 2.625rem;
		width: 2.625rem;
		text-align: center;
		line-height: 2.625rem;	
		color:$white;
		border-radius:2.625rem;
	}
}
.chart-items1{
	.default-progress{
		.progress-bar{
			background:#624FD1;	
		}	
	}	
}
.chart-items3{
	.default-progress{
		.progress-bar{
			background:#72C1E2;	
		}	
	}		
}